{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About - Adesalu Adeola Oluwaseun</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Adex - v4.3.0
    * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo me-auto me-lg-0"><a href="{% url 'page:home' %}">Adex</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% url 'page:home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="{% url 'page:home' %}">Home</a></li>
                <li><a class="active" href="{% url 'page:about' %}">About</a></li>
                <li><a href="{% url 'page:resume' %}">Resume</a></li>
                <li><a href="{% url 'page:services' %}">Services</a></li>
                <li><a href="{% url 'page:portfolio' %}">Featured Projects</a></li>
                <li><a href="{% url 'page:contact' %}">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="header-social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>

    </div>

</header><!-- End Header -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <p style="text-align:justify; text-justify:inter-word;">Adesalu Adeola is an indigene of Ekiti State,
                    Nigeria. He attended Jacflorie International, Nursary & Primary school, Ado-Ekiti where He aquired
                    his Primary school Leaving Certificate in the year 2001, he Aaye Oja Grammar School, Aaye Ekiti were
                    he attained his SSCE certificate in the year 2008. He got admitted with merit into The Federal
                    Polytechnic, Ado-Ekiti,
                    Ekiti State to study Computer Science during which he became the head of Institutions cadet corps of
                    Nigeria (ICCON), The Federal Polytechnic, Ado Ekiti Chapter. He Proceeded to Nigerian Television
                    Authority (NTA channel 5, Ado Ekiti) for an intensive Student Industrial work experience scheme
                    (SIWES) Program were he worked as a Audio & Film Editor and Transmission Director. In the year 2011,
                    He was awarded a certificate of National Diploma in Computer Science. He then proceeded to Nigerian
                    Television Authority (NTA channel 5, Ado Ekiti)
                    (Industrial Training) in the year 2012 where worked as Computer Graphics Designer, Camera Man, Audio
                    & Film Editor and Transmission Director. In the year 2015, he was awarded the certificate of Higher
                    National Diploma in Computer Science. He served in 2016 at Alamo Grammar School, Itaogbolu, Akure
                    North L.G.A, Ondo State as a National Youth Service Corps Member. He is currently employed by
                    Broadcasting Service of Ekiti State (EKTV channel 41, Ekiti FM 91.5 Ado Ekiti) for ICT Support,
                    Presenter, Audio & Film Editing, Transmission Directing, Camera and Computer Graphics as a Temporary
                    Staff. Employed by Xtrime TV, Lagos for Event Live Streaming on a contract basis. He also worked
                    with Ayoba FM 95.1, Ado Ekiti durinng the period of 2018 – 2019 as an Engineering Supervisor and
                    Making Sure all Equipment are in good order for smooth transmission. He is the founder and head of
                    Adex Media World.</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>Graphics & Video Producer</h3>
                    <p class="fst-italic">
                        Good team worker with strong analytical mind, Self-motivated and target oriented, Good
                        interpersonal skills, integrity and transparent, Good customer and management relationship
                        skills, Excellent oral and written communication skills.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> {{age}}
                                </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> adesaluadeola@gmail.com </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +234 706 2408 081</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Ado-Ekiti : Ekiti State,
                                    Nigeria
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 30</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Higher National Diploma
                                </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong>
                                    adesaluadeola@gmail.com
                                </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Employable Service :</strong> Available
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>
                <p>Expertise developed in Multi-Media.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Audio & Video Recording<i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Graphic Design <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Public Speaking <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Audio & Video Editing <i class="val">99%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Web Development <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Some statistical information you might want to know.</p>
                <div class="row counters">

                    <div class="col-lg-3 offset-1 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Clients I worked for</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="168" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Weekly Working Hours</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Percentage Satisfaction Guaranteed</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonies</h2>
                <p>Satisfaction of our clients is our first objective.</p>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Thanks so much to Adex Media, my wedding video coverage was so qualitative. It's very cool having a deal with you
                                Please maintain your standards and I bet the sky is your limit.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Wow, I watched your program on EKTV online yesterday, I must confess I really love your presentation.
                                I also heard yesterday was your birthday, Happy belated birthday Adex.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Someone introduced Adex media to me and I contacted you online for my daughter's birthday coverage.
                                I'm fully satisfied with your professionalism. Bravo! Adex Media.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Although I thought it was too expensive at first, your your output convinced me beyond doubt,
                                it was really worth it. It's nice doing business with you.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img"
                                 alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Ever since you were contracted to advertise my company's product, I admit I've never been disappointed.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Adex Media World</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
            Designed by <a href="https://samuel1996.pythonanywhere.com/">Adesola S.O.</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>