{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resume - Adesalu Adeola Oluwaseun</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Adex - v4.3.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="{% url 'page:home' %}">Adex</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="{% url 'page:home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'page:home' %}">Home</a></li>
          <li><a href="{% url 'page:about' %}">About</a></li>
          <li><a class="active" href="{% url 'page:resume' %}">Resume</a></li>
          <li><a href="{% url 'page:services' %}">Services</a></li>
          <li><a href="{% url 'page:portfolio' %}">Featured Projects</a></li>
          <li><a href="{% url 'page:contact' %}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Video coverage, Digital Photo Production, Film Editing, 3D Animation, Jingle Production, Radio & Television Presentation Promotion, General Media Consultant.
          Professional HD Livestream on Digital Platforms and many more</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Adesalu Adeola Oluwaseun</h4>
              <p><em>Professional in video recording & editing.</em></p>
              <p>
              <ul>
                <li>No 18, Oke Ila Street, Ado Ekiti, Ekiti State Nigeria</li>
                <li>+2347 06240 8081</li>
                <li>adesaluadeola@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Certification</h3>
            <div class="resume-item">
              <h4>National youth service corps</h4>
              <h5>2016</h5>
              <p><em>The Nigeria National Youth Service Corps</em></p>
            </div>
            <div class="resume-item">
              <h4>Computer Professional</h4>
              <h5>2015</h5>
              <p><em>Computer Society of Nigeria</em></p>
              <p>A certified member of The Computer Society of Nigeria</p>
            </div>
            <div class="resume-item">
              <h4>Higher National Diploma in Computer Science</h4>
              <h5>2013 - 2015</h5>
              <p><em>The Federal Polytechnic, Ado-Ekiti, Ekiti State</em></p>
              <p>Computer Science (Higher National Diploma)</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Temporary Staff</h4>
              <h5>2019 - Present</h5>
              <p><em>Broadcasting Service of Ekiti State (EKTV channel 41, Ekiti FM 91.5 Ado Ekiti)</em></p>
              <p>
              <ul>
                <li>ICT Support</li>
                <li>Presenter.</li>
                <li>Audio & Film Editor</li>
                <li>Transmission Director</li>
                <li>Camera Man</li>
                <li>Computer Graphics Designer </li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Contract Basis</h4>
              <h5>2010 - Present</h5>
              <p><em>Xtrime TV, Lagos</em></p>
              <p>
              <ul>
                <li>Event Live Streaming </li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Staff</h4>
              <h5>2018 - 2019</h5>
              <p><em>Ayoba FM 95.1 Ado Ekiti</em></p>
              <p>
              <ul>
                <li>Engineering Supervisor</li>
                <li>Making Sure all Equipment are in good order for smooth transmission</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
            &copy; Copyright <strong><span>Adex Media World</span></strong>. All Rights Reserved
        </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        Designed by <a href="https://samuel1996.pythonanywhere.com/">Adesola S.O.</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>